DATABASE_URL="postgresql://user:password@localhost:5432/casinoonline?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="change-me-super-secret-32chars-min"
DEMO_ADMIN_EMAIL="admin@arena.bet"
DEMO_ADMIN_PASSWORD="Admin123!"
DEMO_USER_EMAIL="demo@arena.bet"
DEMO_USER_PASSWORD="Demo123!"
